@font-face {
  font-family: 'museo-slab';
  src: url("../fonts/MuseoCyrl_300-webfont.eot");
  src: url("../fonts/MuseoCyrl_300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoCyrl_300-webfont.woff2") format("woff2"), url("../fonts/MuseoCyrl_300-webfont.woff") format("woff"), url("../fonts/MuseoCyrl_300-webfont.ttf") format("truetype"), url("../fonts/MuseoCyrl_300-webfont.svg#museo_cyrl300") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'museo-slab';
  src: url("../fonts/MuseoCyrl_500-webfont.eot");
  src: url("../fonts/MuseoCyrl_500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoCyrl_500-webfont.woff2") format("woff2"), url("../fonts/MuseoCyrl_500-webfont.woff") format("woff"), url("../fonts/MuseoCyrl_500-webfont.ttf") format("truetype"), url("../fonts/MuseoCyrl_500-webfont.svg#museo_cyrl500") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'museo-slab';
  src: url("../fonts/MuseoCyrl_900-webfont.eot");
  src: url("../fonts/MuseoCyrl_900-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoCyrl_900-webfont.woff2") format("woff2"), url("../fonts/MuseoCyrl_900-webfont.woff") format("woff"), url("../fonts/MuseoCyrl_900-webfont.ttf") format("truetype"), url("../fonts/MuseoCyrl_900-webfont.svg#museo_cyrl900") format("svg");
  font-weight: 900;
  font-style: normal; }