
.site-languages {
	position: absolute;
	top: 40px;
	right: 55px;
	z-index: 102;
	text-align: center;
	
	@media (max-width: $screen-md - 1) {
		right: 0;
		width: 100%;
	}
	
}

.site-lang-icor-logo {
	
	background: transparent url('../images/header_logo_icor_small.png') no-repeat center center / contain;
	width: 57px;
	height: 21px;
	display: inline-block;
	@include opacity(1);
	@include transition(0.35s opacity);
	
	&:hover {
		@include opacity(0.75);
	}
	
}

.flexslider[current-slide="0"] + .site-languages {

	.site-lang-icor-logo {
	
		@include transition(0s opacity);
		@include opacity(0);
		
		&:hover {
			@include opacity(0);
		}

	}
	
}


.site-header {
	
	position: relative;
	color: #fff;
	min-height: 100vh;
	
	a {
	
		color: inherit;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
		
	}
	
	.flexslider {
		z-index: 100;
		position: relative;
	}
	
	.flex-control-paging {
		
		position: absolute;
		bottom: 50px;
		left: 0;
		width: 100%;
		z-index: 101;
		text-align: center;
		
		> li {
		
			display: inline-block;
			text-align: center;
			margin: 4px;
			
			> a {
			
				display: block;
				font-size: 0;
				width: 16px;
				height: 16px;
				border: #fff 2px solid;
				@include border-radius(50%);
				background: #000;
				background: rgba(0, 0, 0, 0.5);
				position: relative;
				
				@include transition(0.35s background-color);
				
				&.flex-active {
					background: #fff;
				}
			
				&:not(.flex-active):hover {
					background: rgba(255, 255, 255, 0.1);
				}
				
			}
			
		}
		
	}
	
}




.slide-item {
	
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	display: block;
	background: transparent url() no-repeat center center / cover;
	
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: " ";
		background: transparent;
		background: rgba(0,0,0,0.5);
	}
	
}





.slide-icor {
	background-image: url('../images/bg_icor.jpg');
}

.slide-cityservice {
	background-image: url('../images/bg_cityservice.jpg');
}

.slide-axioma {
	background-image: url('../images/bg_axioma.jpg');
}

.slide-realco {
	background-image: url('../images/bg_realco.jpg');
}

.slide-oilead {
	background-image: url('../images/bg_oilead.jpg');
}











.slide-subtitle {
	font-size: 16px;
	@include opacity(0.8);
	text-align: center;
	max-height: 50px;
	overflow: hidden;
	@include transition(all 0.3s ease-in-out 0.3s);
	
}

.slide-expanded {
	
	.slide-subtitle {
		max-height: 0px;
	}
	
}

.slide-slogan {

	font-size: 36px;
	text-align: center;
	max-height: 100px;
	overflow: hidden;
	@include transition(all 0.3s ease-in-out 0.3s);

	@media (max-width: $screen-md - 1) {
		font-size: 21px;
	}
	
}

.slide-expanded {
	.slide-slogan {
		max-height: 0px;
	}
}



.slide-logo {

	background: transparent url() no-repeat center center / contain;
	max-width: 400px;
	margin: 25px auto 25px auto;
	position: relative;
	
	@include transition(all 0.35s ease 0.7s);
	
	@media (max-width: $screen-sm - 1) {
		max-width: 240px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

}

.slide-logo-icor {
	background-image: url('../images/header_logo_icor.png');
	height: 105px;
	@media (max-width: $screen-sm - 1) {
		height: 65px;
	}
}

.slide-logo-axioma {
	background-image: url('../images/header_logo_axioma.png');
	height: 130px;
}

.slide-logo-oilead {
	background-image: url('../images/header_logo_oilead.png');
	height: 80px;
}

.slide-logo-cityservice {
	background-image: url('../images/header_logo_cityservice.png');
	height: 75px;
}

.slide-logo-realco {
	background-image: url('../images/header_logo_realco.png');
	height: 100px;
}

.slide-expanded {
	
	.slide-logo {
		@include transition(all 0.35s ease);
		margin-top: 0px;
		margin-bottom: 0px;
		max-width: 190px;
		height: 50px !important;
	}
	
}


.slide-item-btn {
	vertical-align: middle;
	position: relative;
	border: #fff 2px solid;
	display: inline-block;
	padding: 10px 31px 10px 31px;
	
	@media (max-width: 350px) {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	font-size: 21px;
	@include border-radius(32px);
	text-decoration: none !important;
	@include transition(0.35s background);
	
	&:hover {
		text-decoration: none !important;
		background: rgba(255,255,255,0.3);
	}

}

.slide-item-btn-icon {
	
	padding-left: 60px;
	padding-right: 32px;
	
	.fa {
		font-size: 40px;
		line-height: 1;
		position: absolute;
		top: 50%;
		margin-top: -19.5px;
		left: 25px;
	}
	
}

.slide-item-btn + .slide-item-btn {
	margin-left: 20px;
	
	@media (max-width: 350px) {
		margin-left: 10px;
	}
	
}

.slide-item-btn-toggler {
	
	position: relative;
	padding: 0;
	width: 54px;
	height: 54px;
	
	span {
		@include transition(all 0.7s ease-in-out);
	}
	
	span:first-child {
		background: #fff;
		position: absolute;
		top: 23px;
		left: 12px;
		width: 26px;
		height: 4px;
		@include border-radius(1px);
		display: block;
	}
	
	span:last-child {
		background: #fff;
		position: absolute;
		top: 12px;
		left: 23px;
		width: 4px;
		@include border-radius(1px);
		height: 26px;
		display: block;
	}
	
	
}

.slide-expanded {
	
	.slide-item-btn-toggler {
		
		span:last-child {
			height: 4px;
			top: 23px;
		}
		
	}
	
}










.slide-inner-window {

	@include transition(all 0.7s ease);
	
	max-width: 744px;
	margin: 0vh auto 0 auto;
	max-height: 0px;

	position: relative;
	text-align: center;
	overflow: hidden;

	p {
		font-size: 16px;
	}

}

.slide-expanded {

	.slide-inner-window {
		max-height: 750px;
		margin-top: 0vh;
		@include transition(all 1s ease 1s);
	}
	
}


.slide-inner-window-body {

	border-top: #fff 2px solid;
	
	overflow: hidden;
	margin: 0 0 30px 0;
	position: relative;
	padding: 35px 55px 40px 55px;
	
	@include transition(0.7s all);
	
	@media (max-width: $screen-md - 1) {
		padding: 25px 30px;
	}
	
	@media (max-width: 425px) {
		padding: 15px;
	}
	
	&:before {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		width: 2px;
		height: 0%;
		@include transition(0.35s all);
	}
	
	&:after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		background: #fff;
		width: 2px;
		height: 0%;
		@include transition(0.35s all);
	}
	
}

.slide-inner-window-body-content {

	@include opacity(0);
	@include transition(0.35s opacity);
	
	.section-values {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	p {
		margin-bottom: 0;
	}
		
}


.slide-expanded {
	
	.slide-inner-window-body {
		bottom: 0px;
		
		&:after {
			height: 100%;
		}
		
		&:before {
			height: 100%;
		}
		
	}
	
	.slide-inner-window-body-content {
	
		@include opacity(1);

	}
	
}



.slide-inner-window-footer {

	background: transparent url('../images/slide-inner-window-footer-bg.png') no-repeat bottom center / 744px auto;
	
	@media (max-width: 350px) {
		background-position: -196px bottom;
	}
	@media (max-width: 343px) {
		background-position: -203px bottom;
	}
	
	@media (max-width: 335px) {
		background-position: -206px bottom;
	}
	@media (max-width: 325px) {
		background-position: -211px bottom;
	}
	
	position: relative;
	width: 100%;
	height: 30px;
	bottom: 0;
	margin-top: -30px;
	left: 0;
	
}


.slide-tbl {
	
	display: table;
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 102;
	
	> * {
	
		display: table-row;
		
		> * {
			
			text-align: center;
			display: table-cell;
			
			&.slide-cell-nav {
				height: 160px;
				vertical-align: top;
			}
			
			&.slide-cell-popoup {
				vertical-align: bottom;
				padding-bottom: 10px;
				padding-top: 25px;
				height: 1%;
			}
			
			&.slide-cell-titles {
				vertical-align: middle;
				padding-top: 30px;
				@media (max-width: $screen-md - 1) {
					padding-top: 75px;
				}
				
			}
			
		}
		
	}
	
}

.slide-expanded {
	
	.slide-tbl {
		
		> * {
			
			> * {
			
				&.slide-cell-titles {
					
					vertical-align: bottom;
					
					@media (max-width: $screen-md - 1) {
						padding-top: 105px;
					}
					
				}
			
			}
			
		}
	
	}
	
}