

a.list-icon {

	@include opacity(1);
	@include transition(0.35s all);
	&:hover {
		@include opacity(0.8);
	}
	
}

.section-values {

	.list-icon  {
		margin-bottom: 10px;
	}
	
	@media (max-width: $screen-md - 1) {
		
		.list-unstyled {
			
			line-height: 1.25;
			margin-bottom: -15px;
	
			> li {

				> .row {

					> *:first-child {
						text-align: right;
						margin-top: -6px;
						@media (max-width: 425px) {
							width: 45%;
							margin-top: 0;
						}
						@media (max-width: 400px) {
							width: 40%;
						}
						@media (max-width: 359px) {
							width: 35%;
						}
					}

					> *:last-child {
						text-align: left;
						margin-left: 0px;
						@media (max-width: 425px) {
							width: 55%;
						}
						@media (max-width: 400px) {
							width: 60%;
						}
						@media (max-width: 359px) {
							width: 65%;
						}
						.trow {
							margin: 0;
						}
					}
				
				}
			
			}
			
		}

	}
	
}

.section-companies {

	.list-icon  {
		margin-bottom: 30px;
		@media (max-width: $screen-md - 1) {
			margin-bottom: 10px;
		}
	}
	
	.list-unstyled {
			
		a {
			color: inherit !important;
		}
		
		@media (max-width: $screen-md - 1) {
		

			> * {
				
				margin-bottom: 45px;

			}
			
			margin-bottom: -45px;

		}
		
	}
	
}


.section-footer {
	
	line-height: 1.33;
	margin-bottom: 0;
	border-bottom: #f3f3f3 60px solid;
	
	a {
		text-decoration: none !important;
		color: inherit;
		&:hover {
			text-decoration: underline !important;
		}
	}

	@media (max-width: $screen-md - 1) {
	
		.container-fixed {
			padding-left: 40px;
			padding-right: 40px;
		}
		
		p:only-child,
		p + p {
			margin-top: 45px;
		}
		
		.sep {
			display: block;
			font-size: 0;
		}
	
	}
	
}


.img-icon-apyvarta {
	position: relative;
	display: inline-block;
	width: 88px;
	@media (max-width: 425px) {
		width: 55px;
		height: 60px;
	}
	height: 78px;
	background: transparent url('../images/icon_apyvarta.png') no-repeat center center / contain;
}

.img-icon-darbuotojai {
	position: relative;
	display: inline-block;
	width: 90px;
	@media (max-width: 425px) {
		width: 55px;
		height: 60px;
	}
	height: 78px;
	background: transparent url('../images/icon_darbuotojai.png') no-repeat center center / contain;
}

.img-icon-geografija {
	position: relative;
	display: inline-block;
	width: 74px;
	@media (max-width: 425px) {
		width: 50px;
		height: 60px;
	}
	height: 78px;
	background: transparent url('../images/icon_geografija.png') no-repeat center center / contain;
}


.img-icon-apyvarta-bw {
	background: transparent url('../images/icon_apyvarta-bw.png') no-repeat center center / contain;
}

.img-icon-darbuotojai-bw {
	background: transparent url('../images/icon_darbuotojai-bw.png') no-repeat center center / contain;
}

.img-icon-geografija-bw {
	background: transparent url('../images/icon_geografija-bw.png') no-repeat center center / contain;
}



.img-icon-cityservice {
	position: relative;
	display: inline-block;
	width: 180px;
	height: 24px;
	background: transparent url('../images/logo_cityservice.png') no-repeat center center / contain;
}

.img-icon-axioma {
	position: relative;
	display: inline-block;
	width: 182px;
	height: 29px;
	background: transparent url('../images/logo_axioma.png') no-repeat center center / contain;
}

.img-icon-realco {
	position: relative;
	display: inline-block;
	width: 186px;
	height: 26px;
	background: transparent url('../images/logo_realco.png') no-repeat center center / contain;
}

.img-icon-oilead {
	position: relative;
	display: inline-block;
	width: 172px;
	height: 22px;
	background: transparent url('../images/logo_oilead.png') no-repeat center center / contain;
}


.img-icon-icor-footer {
	position: relative;
	display: inline-block;
	width: 156px;
	height: 52px;
	background: transparent url('../images/logo_footer.png') no-repeat center center / contain;
}



.layout-homepage {
	
	.map-image,
	.list-unstyled.row {
		margin-top: 70px;
		@media (max-width: $screen-md - 1) {
			margin-top: 35px;
		}
	}
	
	@media (max-width: $screen-md - 1) {
		text-align: center;
	}
	
}




